<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="center nav">
        <a href="/about" class="link">About</a>
    </div>
    <div class="block">
        <h1 class="center">Assignment2 <span class="head">CT519</span></h1>
        <p class="center"><img src="/images/IMG_photo_png.png"></p>
        <p class="size center"><span class="p1">Name</span>: ปราชญา ป้องกัน</p>
        <p class="size center"><span class="p1">ID</span>: 66130423</p>
    </div>
    <p class="center size">This website uses NodeJS</p>

</body>

</html>